@import 'vars';

@import 'lists';
@import 'page';
@import 'typography';
@import 'utils';


html {
    scroll-behavior: smooth;

    body {
        padding: 0;
        margin: 0;
    
        background: url("../assets/svg/svg-background.svg");
        background-color: #ffffff;
        background-attachment: fixed;
        background-size: cover;
    
        aside {
            position: fixed;
            width: 5rem;
            height: 100vh;
            background-color: $dark;
    
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
    
                li {
                    margin: 2rem 0;
    
                    svg {
                        color: #c2c2c2;
                        font-size: 2rem;
                    }
                }
                
            }
        }
        section {
            &#main {
                
                #main-bg {
                    width: 100%;
                }
            }
    
            &#presentation {
                background-color: $darker;
            }
        }
    }
}

    