.slide {
    position: relative;
    z-index: -1;

    & .slide-text {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        padding: 1.5rem;
    }

    & img {
        width: 100vw;
        filter: brightness(.8);
    }

    & .more-info {
        position: absolute;
        left: 50%;
        top: 92%;
        z-index: 1;
        transform: translate(-50%, 0);
    }
}

.three-skills {
    display: flex;

    .card {
        width: 15rem;
        .card-img-top {
            i {
                font-size: 6rem;
            }
        }
    }
}